.container {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}

.card {
  background-color: #008d7d;
  height: 220px;
  width: 220px;
  border-radius: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}

.card-icon {
  fill: #97d0ca;
  height: 100px;
  width: 100px;
  padding-top: 30px;
}

.under-text {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 30px;
}
